# Gradle
.gradle
/build/

# IntelliJ
.idea/
*.iml

# Private Tokens
/src/main/resources/tokens

# GraphQL Plugin Configuration
/src/main/resources/github/*

# Keep actual queries
!/src/main/resources/github/*.graphql